<p>
    <mat-toolbar>
      <span>The Smart Hardware Store</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon shopping-cart-icon" 
      aria-label="Shopping cart button">
        <mat-icon (click)="shoppingcart.toggle()">shopping-cart-icon</mat-icon>
      </button>
    </mat-toolbar>
</p>

<mat-drawer-container class="main-container">
  <mat-drawer-content>
    <app-product-main-component></app-product-main-component>
  </mat-drawer-content>
  
  <mat-drawer #shoppingcart mode="side" position="end">
    <app-shopping-cart-component></app-shopping-cart-component>
  </mat-drawer>
</mat-drawer-container>



